
@model AccountingSoftware.Models.LicenceAdding

@{
    ViewData["Title"] = "Добавление лицензии";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавление лицензии</h1>

<h4>Новая лицензия</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="softwareTechnicalDetailsId" asp-route-subjectAreaId="@ViewBag.softwareTechnicalDetails.Id" class="control-label">Наименование ПО: @ViewBag.softwareTechnicalDetails.Name</label>
                <input type="hidden" name="softwareTechnicalDetailsId" value="@ViewBag.softwareTechnicalDetails.Id">
            </div>
            <div class="form-group">
                <label asp-for="licenceTypeId" asp-route-subjectAreaId="@ViewBag.licenceType.Id" class="control-label">Тип лицензии: @ViewBag.licenceType.Name</label>
                <input type="hidden" name="licenceTypeId" value="@ViewBag.licenceType.Id">
            </div>
            <div class="form-group">
                <label asp-for="employeeId" asp-route-subjectAreaId="@ViewBag.employee.Id" class="control-label">Работник: @ViewBag.employee.Name @ViewBag.employee.Surname @ViewBag.employee.Patronymic</label>
                <input type="hidden" name="employeeId" value="@ViewBag.employee.Id">
            </div>
            <div class="form-group">
                <label asp-for="Key" class="control-label"></label>
                <input asp-for="Key" class="form-control" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(x => x.DateEnd)
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnd" class="control-label"></label>
                <input asp-for="DateEnd" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script> src="https://code.jquery.com/jquery-3.5.1.min.js%22%3E"</script>   
    <script>
    $(document).ready(function () {
        $("#DateEnd").change(function () {
            var startDate = new Date($("#DateStart").val());
            var endDate = new Date($(this).val());

            if (endDate < startDate) {
                    alert("Дата окончания не может быть раньше даты начала.");
                    $(this).val("");
                }
            else if (endDate < Date.parse("01.01.2000")){
                    alert("Дата установки не может быть раньше 01.01.2000.");
                    $(this).val("");
            }
            });

            $("#DateStart").change(function () {
                var startDate = new Date($(this).val());
                var endDate = new Date($("#DateEnd").val());

                if (endDate < startDate) {
                    alert("Дата начала не может быть позже даты окончания.");
                    $("#DateEnd").val("");
                }
                else if (startDate < Date.parse("01.01.2000")) {
                    alert("Дата начала лицензии не может быть раньше 01.01.2000.");
                    $(this).val("");
                }
            });
        });
    </script>
}
