@model AccountingSoftware.Models.Computer

@{
    ViewData["Title"] = "Удаление компьютера";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>

<h3>Вы точно хотите удалить компьютер?</h3>
<div>
    <h4>Данные удаляемого компьютера</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Audience)
        </dt>
        <dd class = "col-sm-10">
            @if(Model.Audience != null)
            {
                @Html.DisplayFor(model => model.Audience.Name)
            }           
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Videocard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Videocard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSpace)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        @if (TempData["fromAudience"] == null)
        {
            <a asp-action="Index">Назад к списку</a>
        }
        else
        {
            <a asp-controller= "Audiences" asp-action="Index">Назад к списку</a>
        }
    </form>
</div>
