@model IEnumerable<AccountingSoftware.Models.Software>

@{
    ViewData["Title"] = "Общий список лицензий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список лицензий</h1>
<p>
    <a style= "color:darkred " asp-controller="LicenceTypes" asp-action="Index">Типы лицензий</a>
</p>
<hr />
<p>
    <a asp-action="Create">Добавить новое</a>
</p>
<div class="form-group">
    <a asp-action="GetReport" class="btn btn-info">Получить отчет о лицензировании ПО</a>
</div>
<div><p></p></div>
<div class="form-group">
    <a asp-action="GetExpiredReport" class="btn btn-warning">Получить отчет о истекающих лицензиях</a>
</div>
<div><p></p></div>
<div class="form-group">
    <a asp-action="GetOutDateReport" class="btn btn-danger">Получить отчет об истекших лицензиях</a>
</div>
<div><p></p></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareTechnicalDetails.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licence.LicenceDetails.Key)
            </th>
            <th>               
                @Html.DisplayNameFor(model => model.Licence.LicenceType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licence.LicenceDetails.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licence.LicenceDetails.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licence.LicenceDetails.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licence.Employee.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareTechnicalDetails.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Licence.LicenceDetails.Key)
            </td>
                <td>
                    @if(item.Licence.LicenceType != null)
                    {
                        @Html.DisplayFor(modelItem => item.Licence.LicenceType.Name)
                    }
                    else
                    {
                        @Html.Display("Отсутствует");
                    }
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Licence.LicenceDetails.DateStart)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Licence.LicenceDetails.DateEnd)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Licence.LicenceDetails.Count)
            </td>
                <td>
                    @if(item.Licence.Employee != null)
                    {
                    @Html.DisplayFor(modelItem => item.Licence.Employee.FullName)
                    }

                </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить копию ПО</a>
            </td>
        </tr>
}
    </tbody>
</table>
