@model IEnumerable<AccountingSoftware.Models.SoftwareTechnicalDetails>

@{
    ViewData["Title"] = "Список ПО";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Программное обеспечение</h1>
<p>
    <a style="color:darkred " asp-controller="SubjectAreas" asp-action="Index">Типы ПО</a>
</p>
<hr />
<p>
    <a asp-action="Create">Добавить новое</a>
</p>
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.SubjectArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           
            <td>
                @if(!(item.SubjectArea is null))
                {
                    @Html.DisplayFor(modelItem => item.SubjectArea.Name)                      
                }
                else
                {
                    @Html.Display("Отсутствует")
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детализация</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
